html 
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0") 
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet", href="/assets/css/style.css")
        script(src="/assets/js/bootstrap.min.js")
        title Admin | Homepage
    body(class="home-body")
        nav(class="navbar navbar-expand-lg bg-body-tertiary")
            div(class="container-fluid")
                a(class="navbar-brand" href="#")
                    img(src="/assets/images/407ACTGLOGO.jpeg", alt="407ACTGLOGO" width="50" height="50")
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarSupportedContent")
                    ul(class="navbar-nav me-auto mb-2 mb-lg-0") 
                        li(class="nav-item mx-2 nav-btn" data-bs-toggle="modal" data-bs-target="#loginModal") Login
                        li(class="nav-item mx-2 nav-btn" data-bs-toggle="modal" data-bs-target="#registerModal") Register
                div(class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true")
                    div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
                        div(class="modal-content")
                            div(class="modal-header")
                                h1(class="modal-title fs-5" id="exampleModalLabel") Admin Login
                                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                            div(class="modal-body")
                                form(action="/admin/login" method="POST")
                                    div(class="input-group flex-nowrap mb-4")
                                        input(type="email" name="email" required class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping")
                                    div(class="input-group flex-nowrap")
                                        input(type="password" name="password" required class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping")
                                    div(class="modal-footer")
                                        button(type="submit" class="btn btn-warning") Login
                div(class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true")
                    div(class="modal-dialog modal-dialog-centered modal-dialog-scrollable")
                        div(class="modal-content")
                            div(class="modal-header")
                                h1(class="modal-title fs-5" id="exampleModalLabel") Admin Register
                                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                            div(class="modal-body")
                                form(action="/admin/register" method="POST")
                                    div(class="input-group flex-nowrap mb-4")
                                        input(type="text" name="fullname" required class="form-control" placeholder="Full Name" aria-label="fullname" aria-describedby="addon-wrapping")
                                    div(class="input-group flex-nowrap mb-4")
                                        input(type="email" name="email" required class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping")
                                    //- div(class="input-group flex-nowrap mb-4")
                                    //-     input(type="file" name="photo" accept="image/*" required class="form-control" placeholder="Photo" aria-label="photo" aria-describedby="addon-wrapping")
                                    div(class="input-group flex-nowrap mb-4")
                                        input(type="password" name="password" required class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping")
                                    div(class="input-group flex-nowrap")
                                        input(type="password" name="confirmPassword" required class="form-control" placeholder="Confirm Password" aria-label="confirmPassword" aria-describedby="addon-wrapping")
                                    div(class="modal-footer")
                                        button(type="submit" class="btn btn-warning") Register
        section(class="container")
            div(class="row mt-3 dashboard-panel g-1 justify-content-center mb-3")
                div(class="col-lg-6 px-5")
                    figure(class="figure")
                        img(src="/assets/images/407ACTGLOGO.jpeg" class="figure-img img-fluid rounded" alt="Logo")
        include partials/footer